/* CSS PAGE PC */

body {
  background-color: rgb(30, 44, 44);
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

ul {
  background-color: white;
  border-radius: 10px;
  border-width: 4px;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

a button {
  background-color: transparent;
  border: none;
  color: black;
}

a button:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.main {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: auto;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

.main p {
  padding: 25px;
  text-align: left;
}

/*  */
